<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      label {
        font-weight: bold;
        color: rgb(57, 63, 243);
        display: flex;
      }
      input {
        border: none;
        border-radius: 15px;
        padding: 15px 15px;
      }
      button {
        border: none;
        background-color: rgb(131, 135, 237);
        color: aliceblue;
        border-radius: 20px;
        padding: 15px 32px;
        font-size: 16px;
        cursor: pointer;
      }
      h1 {
        text-align: center;
        color: #5c49ee;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>SignUp Page</h1>
    <br /><br />
    <form action="/user" method="post">
      <label>Full Name</label>
      <br />
      <input type="text" required name="name" />
      <br /><br />
      <label>Email</label>
      <br />
      <input type="text" required name="email" />
      <br /><br />
      <label>Password</label>
      <br />
      <input type="text" required name="password" />
      <br /><br />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
